@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main {
  font-size: 1.2rem;
  padding: 10em 8em;
  font-family:  "Times New Roman", Times, serif;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: whitesmoke;
}
.caption {
  margin: 2em 0;
}

.card {
  width: 100%;
}
.col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2em;

  /* background-color: beige; */
  color: #787d86;
  background-color: #fff;
  box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.15);
  padding: 2em 2em;
  margin-left: 0;
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

label {
  display: block;
  text-transform: uppercase;
  font-weight: 100;
  font-size: medium;
  padding: 1.2em 0 0 0;
  text-indent: 5px;
}
input {
  padding-left: 0.6em;
  border:  0.1  #e5e7eb;
}
input:focus {
  border: solid 1.5px blue;
  box-shadow: 0 0 2px 1px;
  outline-width: 0;
}
button {
  background-color: #596d48;
  color: white;
  margin: 2em 1em;
  padding: 1em 2em;
  border: 0;
  border-radius: 0.5em;
}
.login {
  padding: 0 0.8em;
  font-size: medium;
}
.login > a {
  text-decoration: none;
  color: #596d48;
}
aside {
  width: 30vw;
  height: 100vh;
  color: white;
  background-image: url(../images/tree.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 15em;
  padding-bottom: 0.8em;
}
.logo {
  font-size: 3em;
  width: 100%;
  text-align: center;
  font-family: 'Skranji';
  background-color: rgba(0, 0, 0, 0.5);
}
.owner a {
  color: white;
}
